<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in data %}
    <pre><span><a href="{{ i.url_news }}">{{ i.title_news }}</a>{{ i.category }}</span></pre>
{% endfor %}
</body>
</html>